@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inspiration&family=Licorice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.font-inspiration {
  font-family: "Inspiration", cursive;
}

.font-licorice {
  font-family: "Licorice", cursive;
}

.font-inika {
  font-family: "Inika", sans-serif;
}